.container {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 530px;
  padding: 35px 30px 63px;
  margin-top: 33px;
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.redirect {
  width: 165px;
  height: 18px;
  font-family: MarkPro;
  font-size: 14px;
  color: var(--dark-blue-grey);
}
