.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.logo {
  width: 40px;
  height: 32px;
  margin: 0 290px 25px 0;
  object-fit: contain;
}

.title {
  height: 28px;
  font-family: MarkPro;
  font-size: 22px;
  font-weight: bold;
  color: var(--dark-blue-grey);
}

.description {
  width: 300px;
  height: 20px;
  font-family: MarkPro;
  font-size: 16px;
  color: var(--cool-grey-two);
}
