.container {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 437px;
  padding: 35px 30px;
  border-radius: 5px;
  box-shadow: 0 2px 16px 0 var(--black-10);
  background-color: #fff;
}